#divEsquerra{
    float: left;
    text-align: left;
    border: 2px dashed black;
    background-color: #f0f0f0;
    margin: 10px;
    width: 33%;
    padding: 10px;
}

#divDreta{
    float: right;
    text-align: right;
    border: 2px dashed black;
    background-color: #f0f0f0;
    margin: 10px;
    width: 33%;
    padding: 10px;
}

#divCentral{
    clear: both;
    position: absolute;
    text-align: right;
    top: 40%;
    left: 20%;
    width: 50%; /*Centrar el bloque horizontalmente*/
    margin: auto;

}

footer {
    background-color: grey; /*color: #a9a9a9s*/
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
}