body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #333;
    margin: 0;
    padding: 15px;
}

header, section, footer{
    width: 800px;
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0);
    margin: 0 auto 10px auto;
    padding: 15px;
    border-radius: 8px;
}

h1, h2{
    color: #2e7d32;
}

details {
    background-color: #2e7d32;
    border: 1px solid #a5d6a7;
    padding: 15px;
    border-radius: 6px;
}

summary {
    font-weight: bold;
    cursor: pointer;
}

label {
    display: block;
}

input, textarea, button {
    width: 750px;
    border: 1px solid #8bc34a;
    padding: 10px;
    margin-top: 6px;
    border-radius: 5px;
}

input[type=range]{
    width: 60%;
    height: 8px;
    border-radius: 5px;
}

button {
    background-color: #2e7d32;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover {

}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #2e7d32;
    color: white;
    padding: 10px;
}

td {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}